conda install -y -c pytorch -c dglteam -c conda-forge -c pyg -c bioconda \
cython "matplotlib=3.4.*" "rdkit=2021.03.*" "python-graphviz=0.17" \

conda install -y -c pytorch -c dglteam -c conda-forge -c pyg -c bioconda \
"pygraphviz=1.7" "pytorch-lightning=1.6.*" "pip=21.2.*" "ipykernel=6.0.*" \

conda install -y -c pytorch -c dglteam -c conda-forge -c pyg -c bioconda \
"pytorch==1.9.1" "torchvision==0.10.1" "torchaudio==0.9.1" \

conda install -y -c pytorch -c dglteam -c conda-forge -c pyg -c bioconda \
einops "nb_conda_kernels=2.3.*" "seaborn=0.11.*" \

conda install -y -c pytorch -c dglteam -c conda-forge -c pyg -c bioconda \
ray-tune pytorch-scatter pytorch-sparse pyg "dgl=0.8.2" "MKL=2024.0.0"

pip install -r ms-pred/requirements.txt